body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:700px;
  top:360px;
  width:310px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:700px;
  top:310px;
  width:310px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:700px;
  top:260px;
  width:310px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:484px;
  width:469px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:519px;
  width:630px;
  height:70px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:70px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:592px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:594px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:629px;
  width:660px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:654px;
  width:469px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:25px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:30px;
  top:689px;
  width:630px;
  height:70px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:70px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:762px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:60px;
  top:764px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:799px;
  width:660px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u24 {
  position:absolute;
  left:612px;
  top:599px;
  width:63px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:612px;
  top:769px;
  width:63px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:246px;
  width:665px;
  height:228px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:228px;
}
#u29 {
  position:absolute;
  left:2px;
  top:106px;
  width:661px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:23px;
  top:11px;
  width:141px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:203px;
  top:11px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:50px;
  width:1020px;
  height:125px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:125px;
}
#u38 {
  position:absolute;
  left:2px;
  top:54px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:60px;
  width:270px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:792px;
  top:106px;
  width:40px;
  height:44px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:470px;
  top:99px;
  width:73px;
  height:27px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:90px;
  top:85px;
  width:370px;
  height:45px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:101px;
  top:100px;
  width:127px;
  height:27px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:319px;
  top:11px;
  width:91px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:870px;
  top:11px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:464px;
  top:11px;
  width:127px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:667px;
  top:11px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:606px;
  top:600px;
  width:16px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:622px;
  top:599px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:612px;
  top:773px;
  width:16px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:628px;
  top:772px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:30px;
  top:484px;
  width:640px;
  height:100px;
  opacity:0;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u66 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:816px;
  top:268px;
  width:73px;
  height:125px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:125px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:30px;
  top:199px;
  width:630px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:25px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:227px;
  width:1020px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:1003px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1020px;
  height:1px;
}
#u72 {
  position:absolute;
  left:30px;
  top:649px;
  width:640px;
  height:100px;
  opacity:0;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u73 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
