body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:720px;
  top:244px;
  width:285px;
  height:324px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:324px;
}
#u1 {
  position:absolute;
  left:2px;
  top:154px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:728px;
  top:199px;
  width:37px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:106px;
  top:199px;
  width:65px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:214px;
  top:199px;
  width:49px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:318px;
  top:199px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:227px;
  width:680px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u11 {
  position:absolute;
  left:106px;
  top:229px;
  width:65px;
  height:3px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:3px;
}
#u12 {
  position:absolute;
  left:2px;
  top:-6px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:20px;
  top:484px;
  width:469px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:25px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:30px;
  top:519px;
  width:630px;
  height:70px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:70px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:592px;
  width:20px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:594px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:629px;
  width:660px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u22 {
  position:absolute;
  left:20px;
  top:654px;
  width:469px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:30px;
  top:689px;
  width:630px;
  height:70px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:70px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:762px;
  width:20px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:764px;
  width:200px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:799px;
  width:660px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u31 {
  position:absolute;
  left:612px;
  top:599px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:584px;
  top:594px;
  width:22px;
  height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:612px;
  top:769px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:584px;
  top:764px;
  width:22px;
  height:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:30px;
  top:199px;
  width:33px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:246px;
  width:665px;
  height:228px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:228px;
}
#u42 {
  position:absolute;
  left:2px;
  top:106px;
  width:661px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:23px;
  top:11px;
  width:141px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:203px;
  top:11px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:50px;
  width:1020px;
  height:125px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:125px;
}
#u51 {
  position:absolute;
  left:2px;
  top:54px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:60px;
  width:270px;
  height:60px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:792px;
  top:106px;
  width:40px;
  height:44px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u55 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:470px;
  top:99px;
  width:73px;
  height:27px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:90px;
  top:85px;
  width:370px;
  height:45px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:45px;
}
#u59 {
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:101px;
  top:100px;
  width:127px;
  height:27px;
  font-family:'HiraginoSansGB-W3', 'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:319px;
  top:11px;
  width:91px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:870px;
  top:11px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:464px;
  top:11px;
  width:127px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:667px;
  top:11px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
